google-map(class='fullscreen', center='map.center', zoom='map.zoom', draggable='true',class='visible-lg')
  marker(ng-if='geolocation',coords='geolocation')
    marker-label(content='"YOU"', anchor='22 0', class='marker-labels')
  marker(ng-repeat='s in data.stop',coords='s')
    marker-label(content='s.name', anchor='22 0', class='marker-labels')
//-  polyline(ng-repeat='r in data.route',path='r.points',stroke='{color: r.color, weight: r.width, opacity: .5}')
//-  marker(ng-repeat='b in data.bus',coords='b')
//-    marker-label(content='b.route + ", last stop " + b.lastStop', anchor='22 0', class='marker-labels')
//-      window(isIconVisibleOnClick='true', options='map.infoWindowWithCustomClass.options')
//-        h2 {{ b.route }}
//-        p {{ b.address }}
div(style='position: absolute; top: 50px; width: 100%;pointer-events: none;')
  div(class='container-fluid')
    div(class='row')
      div(class='col-md-2 col-md-offset-10')
        h1(class='hidden-lg') UB Bus Schedule
        form(role='form',style='pointer-events:all;',class='visible-lg')
          button(ng-click='map.center=geolocation', ng-hide='geolocation===false||geolocation===null', type='submit', class='btn-lg btn-primary btn btn-block') My Location
          button(ng-click='map.center={ latitude: 43.001559, longitude: -78.786035 }', type='submit', class='btn-lg btn-primary btn btn-block') North Campus
          button(ng-click='map.center={ latitude: 42.952790, longitude: -78.818526 }', type='submit', class='btn-lg btn-primary btn btn-block') South Campus
          button(ng-click='map.center={ latitude: 42.898822, longitude: -78.864966 }', type='submit', class='btn-lg btn-primary btn btn-block') Med Campus
        div(class='well',ng-if='geolocation')
          div(ng-repeat='s in data.stop|orderBy:geolocDistance|limitTo:3')
            h2 {{ s.name }}
              small {{ geolocDistance(s) }}km
            p(ng-repeat='d in s.departure|filter:depTime|limitTo:5') {{ d.time.hours % 12 }}:{{ d.time.minutes }}: {{ d.route }}
div(class='fullscreen modalx-container' ng-show='geolocation===null')
  div(class='modalx')
    h1 waiting for your position
    p
      a(ng-click='geolocation=false') I wish not to disclose my location

